<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="/index.css?h={{get_file_hash(path="public/index.css", sha_type=256)}}">
  <link rel="stylesheet" href="/syntax-theme.css?h={{get_file_hash(path="static/syntax-theme.css", sha_type=256)}}">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  {% if config.base_url != "http://localhost:7104" %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.ga_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ config.extra.ga_analytics}}');
  </script>
  {% endif %}
</head>

<body class="l_marketing">
  <header>
    <div class="m_navbar {% block class %}{% endblock %}">
      <nav>
        <input id="toggle" type="checkbox"></input>
        <label class="hamburger" for="toggle">
          <div class="top_bun"></div>
          <div class="meat"></div>
          <div class="bottom_bun"></div>
        </label><a href="/"><span>{{ config.title }}</span></a>
        <ul>
          <li><a class="menu-item" href="/blog/">Blog</a></li>
          <li><a class="menu-item" href="/developers/">Developers</a></li>
          {% set intro_page = get_page(path="developer-introduction.md") %}
          {% set dev_section = get_section(path="developers/_index.md") %}
          <li class="sub-menu-item"><a href="/developers/">{{ intro_page.title }}</a></li>
          {% for page in dev_section.pages %}
          <li class="sub-menu-item"><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
          {% endfor %}
          <li><a class="menu-item" href="/pricing/">Pricing</a></li>

          <!-- {{ config.base_url}} -->
          {% if config.base_url == "http://localhost:7104" %}
          <li><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></li>
          <li><a class="menu-item" href="/auth/sign_in">Sign In</a></li>
          {% else %}
          <li><a class="a_button a_button--primary" href="{{ config.extra.app_base_url}}/auth/sign_up">Sign Up</a></li>
          <li><a class="menu-item" href="{{ config.extra.app_base_url}}/auth/sign_in">Sign In</a></li>
          {% endif %}

        </ul>
      </nav>
    </div>
  </header>
  <div id="main">
      {% block content %} {% endblock %}
  </div>
  <footer class="m_footer">
    <div class="container">
      <div class="top-of-footer">
        <div class="link-block">
          <h4>Resources</h4>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/developers/">Documentation</a></li>
            <li><a href="/blog">FAQ</a></li>
            <li><a href="/blog">Status</a></li>
            <li><a href="/blog">Pricing</a></li>
          </ul>
        </div>
        <div class="link-block">
          <h4>Resources</h4>
          <ul>
            <li><a href="/blog">Mission</a></li>
            <li><a href="/blog">Careers</a></li>
            <li><a href="/blog">Contact</a></li>
            <li><a href="/blog">Press Kit</a></li>
          </ul>
        </div>
        <div class="sign-up">
          <h4>Sign up for our service</h4>
          <p>Get control of your secrets and add security.</p>
          <a class="a_button a_button--outline" href="/auth/sign_up">Check it Out</a>
        </div>
      </div>
      <hr />
      <div class="bottom-of-footer">
        <p>Copyright 2016 - 2022</p>
        <ul class="social">
          <!--<li><a href="/blog"><img width="24" src="/twitter.svg" /></a></li>-->
          <li><a href="https://github.com/purton-tech/cloak"><img width="24" src="/github.svg" /></a></li>
          <!--<li><a href="/blog"><img width="24" src="/linkedin.svg" /></a></li>-->
        </ul>
        <ul class="terms">
          <li><a href="/pages/terms">Terms</a></li>
          <li><a href="/pages/privacy">Privacy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>