<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="/index.css?h={{get_file_hash(path="index.css", sha_type=256)}}">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains"></meta>
  <meta http-equiv="X-Content-Type-Options" content="nosniff"></meta>
  <meta http-equiv="Referrer-Policy" content="no-referrer"></meta>
</head>

<body class="l_marketing">
  <header>
    <div class="m_navbar {% block class %}{% endblock %}">
      <nav>
        <input id="toggle" type="checkbox"></input>
        <label class="hamburger" for="toggle">
          <div class="top_bun"></div>
          <div class="meat"></div>
          <div class="bottom_bun"></div>
        </label><a href="/"><span>{{ config.title }}</span></a>
        <ul>
          <li><a class="menu-item" href="/blog/">Blog</a></li>
          <li><a class="menu-item" href="/developers/">Developers</a></li>
          {% set intro_page = get_page(path="developer-introduction.md") %}
          {% set dev_section = get_section(path="developers/_index.md") %}
          <li><a class="menu-item" href="/developers/">{{ intro_page.title }}</a></li>
          {% for page in dev_section.pages %}
          <li><a class="menu-item" href="{{ page.path | safe }}">{{ page.title }}</a></li>
          {% endfor %}
          <li><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></li>
          <li><a class="menu-item" href="/auth/sign_in">Sign In</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main">
      {% block content %} {% endblock %}
  </div>
  <footer class="m_footer">
    <div class="container">
      <div class="top-of-footer">
        <div class="link-block">
          <h4>Resources</h4>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="link-block">
          <h4>Resources</h4>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="sign-up">
          <h4>Sign up for our service</h4>
          <p>Get control of your secrets and add security.</p>
          <a class="a_button a_button--outline">Check it Out</a>
        </div>
      </div>
      <hr />
      <div class="bottom-of-footer">
        <p>Copyright 2022</p>
        <ul class="social">
          <li><a href="/blog"><img width="24" src="/twitter.svg" /></a></li>
          <li><a href="/blog"><img width="24" src="/github.svg" /></a></li>
          <li><a href="/blog"><img width="24" src="/linkedin.svg" /></a></li>
        </ul>
        <ul class="terms">
          <li><a href="/blog">Terms</a></li>
          <li><a href="/blog">Privacy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>