{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
<section class="l_blog page">
  <div>
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% if page.extra.subtitle %}
    <h2 class="subtitle">{{ page.extra.subtitle }}</h2>
    {% endif %}
    <article class="prose">
      {{ page.content | safe }}
    </article>
  </div>
</section>

<section class="m_footer_cta">
  <h3>Start mananging your secrets today for free</h3>
  <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
</section>
{% endblock content %}