{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
  <section class="l_blog">
    <div>
      <h1 class="title">
        {{ section.title }}
      </h1>
      {% for page in section.pages %}
      <div class="summary">
        <h2>{{ page.title }}</h2>
        <p class="subtitle"><strong>{{ page.date }}</strong></p>
        <p><a href="{{ page.path | safe }}">Read More...</a></p>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="m_footer_cta">
    <h3>Start mananging your secrets today for free</h3>
    <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
  </section>
{% endblock content %}