{% extends "base.html" %}

{% block content %}
<section class="m_cta">
  <div class="content">
    <h1>End 2 End Secrets Management for Developers</h1>
    <div class="text">
      <p>Encryption not promises</p>
    </div>
    <div class="buttons"><a class="a_button success shadow" href="/auth/sign_up">Sign Up</a></div>
    <div class="image"><img alt="Cream" src="observatory.svg"></img></div>
    <div class="footer">
      <h2>PROUD TO BE AN PURTON.TECH INNOVATION</h2>
    </div>
  </div>
</section>
{% endblock content %}