{% extends "base.html" %}

{% block content %}
<section class="m_cta">
  <div class="content">
    <h1>Secure encrypted secrets automation for developers</h1>
    <div class="text">
      <p>A central source of truth for your application secrets. 
        The only solution on the market with full end to end encryption
        and fully open source for maximum transparency.</p>
    </div>
    <div class="buttons"><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></div>
    <div class="image"><img alt="Cream" src="central-source-of-truth.svg"></img></div>
  </div>
</section>

<section class="row">
  <div class="column">
    <h2>Manage related secrets in Vaults</h2>
    <p>
      Vaults help you collect secrets by projects or environments.
      A central place for secrets gives you the power to change a secret across entire projects
      in an efficient way.
    </p>
    <p>Vaults can be shared with team members removing the need for one person to be responsible for secrets management.</p>
  </div>
  <div class="column">
    <img alt="Cream" src="secrets-screenshot.png"></img>
  </div>
</section>

<section class="row">
  <div class="column">
    <img alt="Cream" src="service-account-screenshot.png"></img>
  </div>
  <div class="column">
    <h2>End 2 End Encryption with Service Accounts</h2>
    <p>
      Vaults help you collect secrets by projects or environments.
      A central place for secrets gives you the power to change a secret across entire projects
      in an efficient way.
    </p>
    <p>Vaults can be shared with team members removing the need for one person to be responsible for secrets management.</p>
  </div>
</section>

<section class="row">
  <div class="column">
    <h2>Load secrets into your app the moment it starts</h2>
    <p>Cloak injects your secrets into your app as environment variables.</p>
  </div>
  <div class="column">
    <img alt="Cream" src="cli-screenshot.png"></img>
  </div>
</section>
{% endblock content %}