{% extends "base.html" %}

{% block content %}

<section class="m_pricing">
  <h3>Pricing</h3>
  <div class="m_card m_pricing_card">
    <div class="body">
      <div class="price">
        <h3>Core</h3>
        <h4>Free</h4>
        <hr />
        <ul>
          <li>5 Users</li>
          <li>Integrations</li>
          <li>End to End Encryption</li>
          <li>API</li>
          <li>100,000 Requests/Day</li>
          <li>Unlimited Vaults / Projects</li>
          <li>Direct Customer Support</li>
        </ul>
      </div>
      <div class="price">
        <h3>Developer</h3>
        <h4>$50/mo</h4>
        <hr />
        <ul>
          <li>5 Users</li>
          <li>Integrations</li>
          <li>End to End Encryption</li>
          <li>API</li>
          <li>100,000 Requests/Day</li>
          <li>Unlimited Vaults / Projects</li>
          <li>Direct Customer Support</li>
        </ul>
      </div>
      <div class="price">
        <h3>Team</h3>
        <h4>$50/mo</h4>
        <hr />
        <ul>
          <li>5 Users</li>
          <li>Integrations</li>
          <li>End to End Encryption</li>
          <li>API</li>
          <li>100,000 Requests/Day</li>
          <li>Unlimited Vaults / Projects</li>
          <li>Direct Customer Support</li>
        </ul>
      </div>
      <div class="price">
        <h3>Enterprise</h3>
        <h4>$50/mo</h4>
        <hr />
        <ul>
          <li>5 Users</li>
          <li>Integrations</li>
          <li>End to End Encryption</li>
          <li>API</li>
          <li>100,000 Requests/Day</li>
          <li>Unlimited Vaults / Projects</li>
          <li>Direct Customer Support</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="m_footer_cta">
  <h3>Start managing your secrets today for free</h3>
  <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
</section>
{% endblock content %}