{% extends "base.html" %}

{% block content %}

<section class="m_pricing">
  <h3>Pricing that scales</h3>
  <h4>Just like our infrastructure</h4>
  <div class="m_card m_pricing_card">
    <div class="body">
      <div class="price">
        <h3>Core</h3>
        <h4>Free</h4>
        <hr />
        <ul>
          <li><img src="/tick.svg" width="17px" height="17px" /> 5 Users</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Integrations</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> End to End Encryption</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> API</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> 10,000 Requests/Day</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Unlimited Vaults / Projects</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Direct Customer Support</li>
        </ul>
        <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
      </div>
      <div class="price">
        <h3>Startup</h3>
        <h4>$50/mo</h4>
        <hr />
        <ul>
          <li><img src="/tick.svg" width="17px" height="17px" /> 15 Users</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Integrations</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> End to End Encryption</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> API</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> 100,000 Requests/Day</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Unlimited Vaults / Projects</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Direct Customer Support</li>
        </ul>
        <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
      </div>
      <div class="price">
        <h3>Growth</h3>
        <h4>$150/mo</h4>
        <hr />
        <ul>
          <li><img src="/tick.svg" width="17px" height="17px" /> 100 Users</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Integrations</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> End to End Encryption</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> API</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> 200,000 Requests/Day</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Unlimited Vaults / Projects</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Direct Customer Support</li>
        </ul>
        <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
      </div>
      <div class="price">
        <h3>Enterprise</h3>
        <h4>$500+/mo</h4>
        <hr />
        <ul>
          <li><img src="/tick.svg" width="17px" height="17px" /> Potentially 1000's of Users </li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Integrations</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> End to End Encryption</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> API</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Unlimited Requests/Day</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Unlimited Vaults / Projects</li>
          <li><img src="/tick.svg" width="17px" height="17px" /> Direct Customer Support</li>
        </ul>
        <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
      </div>
    </div>
  </div>
</section>

<section class="m_footer_cta">
  <h3>Start managing your secrets today for free</h3>
  <p><a class="a_button a_button--primary" href="/auth/sign_up">Sign Up</a></p>
</section>
{% endblock content %}