@use super::super::layout_html;
@use crate::layout::SideBar;
@use crate::cornucopia::queries::organisations::Organisation;
@use crate::cornucopia::queries::users::GetDangerous;

@(organisation: &Organisation, user: &GetDangerous)

@:layout_html("Your Profile", {
    <div class="m_card">
      <div class="header">Update Your Details</div>  
      <div class="body">
        <form class="m_form" method="post" action="@crate::profile::set_details_route(organisation.id)">
          <fieldset>
              <label for="name">First Name</label>
              <input type="text" autocomplete="off" required="" id="name" name="first_name", value="@user.first_name">
              </input>
              <span class="a_help_text">Your first name</span>
              <label for="last_name">Last Name</label>
              <input type="text" autocomplete="off" id="last_name" required="" name="last_name", value="@user.last_name">
              </input>
              <span class="a_help_text">Your last name</span>
              <button class="a_button auto danger" type="submit">Save Details</button>
          </fieldset>
        </form>
      </div>
    </div>
}, {
}, organisation, None, SideBar::Profile)