.a_button {
    font-family: var(--font-family-mono);
    font-size: .875rem;
    line-height: 1.25rem;

    text-transform: uppercase;

    text-decoration: none;

    padding-left: .75rem;
    padding-right: .75rem;

    border-width: 1px;
    border-radius: .125rem;

    height: 2rem;

    display: inline-flex;

    justify-self: center;
    align-items: center;

    &--primary {
        background-color: var(--primary);
        color: white;
    }

    &--outline {
        border: 1px solid white;
    }
}