@import 'responsive-mixin';

.m_cta {
    background: url('bg_arrows.svg') 83px top repeat var(--background);

    > div {
        // Set a max width and center content
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-width);
        padding: 1rem;
        padding-top: 4em;
        text-align: center;

        > div.image {
            grid-area: pic;
            padding-top: 2rem;
            padding-bottom: 2rem;

            img {
                width: auto;
                height: 150px;
            }
        }

        > div.text {
            grid-area: text;
            > p {
                font-size: 1rem;
                color: white;
            }
        }

        > h1 {
            grid-area: headline;
            margin: 0;
        }

        > div.buttons {
            grid-area: buttons;
            
            a {
                margin-right: 1rem;
            }
        }

        > div.footer {
            grid-area: more;
            text-align: center;
            margin-top: 30px;
            padding-bottom: 1rem;
            h2 {
                color: #999;
                font-size: 0.7rem;
            }
        }
    }
    
    @include for-tablet-landscape-up {

        > div {
            padding: var(--content-padding);
            text-align: left;
            display: grid;
            align-items: start;
            grid-gap: 0 40px;
            grid-template:  "headline pic"
                            "text     pic"
                            "buttons  pic"
                            "more     more"
                            / 2fr 1fr;

            > div.text {
                // Fix i.e. 11 or it overflows into the image
                max-width: 500px;
                color: var(--accents-6);
                > p {
                    font-size: 1.5rem;
                }
            }

            > div.image {
                text-align: right;

                img {
                    width: auto;
                    height: 450px;
                }
            }

            > h1 {
                font-size: 3.75rem;
                line-height: 1.25;
            }

            > div.footer {
                h2 {
                    font-size: 1rem;
                }
            }
        }

    }
}