@import 'responsive-mixin';

.m_footer_cta {
    text-align: center;
    background: url('bg_arrows.svg') 83px top repeat var(--background);

    > h3 {
        font-weight: 300;
        font-size: 2em;
    }
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 4em;
}