@import 'responsive-mixin';

/* Responsive navigation no js */
div.m_navbar {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--font-family-mono);
    text-transform: uppercase;
    box-shadow: var(--shadow-small);
  
    nav {
      width: var(--content-width);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0;
    
      // The checkbox
      > input {
        position: absolute;
        left: -999em;
      }
    
      > label {
        display: block;
        color: var(--foreground);
      }
    
      > ul {
        display: none;
        list-style: none;
      }
    
      .menu-item {
        text-decoration: none;
        color: black;
        line-height: 1.25rem;
      }
      
      // Make the logo a bit nicer.
      > a {
        text-decoration: none;
        span {
          font-weight: 600;
          font-size: 1.5em;
          color: black;
        }
      }
    
      .hamburger {
        cursor: pointer;
        > div {
          position: relative;
          width: 2em;
          height: 5px;
          border-radius: 1px;
          background-color: black;
          margin-top: 6px;
          margin-bottom: 6px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  
  @include for-phone-only {
    #toggle:checked + .hamburger .top_bun {
        transform: rotate(-45deg);
    }
    #toggle:checked + .hamburger .bottom_bun {
        transform: rotate(45deg);
        margin-top: -22px;
    }
    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        opacity: 0;
    }
  
    #toggle:checked ~ ul {
        display: block;
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background);
        padding: 1em;
        margin: 0;
        z-index: 100;
        
        > li {
            padding-top: 1em;
            padding-bottom: 1em;
            width: 100%;
            font-weight: 500;
            font-size: 0.875rem;
            border-top: 1px solid var(--accents-5);
  
            > a {
              color: var(--accents-1);
            }
        }

        > li.developer-docs {
          padding: 0;
          padding-left: 2em;
          padding-bottom: 1em;
          border-top: none;
        }
    }
  }
  
  @include for-tablet-portrait-up {
  
      div.m_navbar nav {
          > ul {
              display: flex;
              align-items: center;
              
              li.selected {
                  border-bottom: 1px solid var(--foreground);
              }
  
              li {
                margin-left: 1.5em;
              }
          }
  
          > label {
              display: none;
          }
      }
  }
  
  // IE11 specific stuff
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      div.m_navbar nav {
          // Make the logo a bit nicer.
          > a {
          position: absolute;
          top: 25px;
          }
      }
  }
    