@import "responsive-mixin";

.prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: flex;
        align-items: center;
        font-weight: bold;
        line-height: 1.3;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.3rem;
        line-height: 3;
        margin-top: 2.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1.15rem;
    }

    a {
        color: inherit;
    }

    img {
        display: block;
        max-width: 100%;

        &.left {
            margin-right: auto;
        }

        &.center {
            margin-left: auto;
            margin-right: auto;
        }

        &.right {
            margin-left: auto;
        }
    }

    p {
        margin-bottom: 20px;
        line-height: 1.4;
    }

    figure {
        display: table;
        max-width: 100%;
        margin: 25px 0;

        &.left {
            img {
                margin-right: auto;
            }
        }

        &.center {
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.right {
            img {
                margin-left: auto;
            }
        }

        figcaption {
            font-size: 14px;
            padding: 5px 10px;
            margin-top: 5px;
            background: var(--accents-5);
            color: var(--background);

            &.left {
                text-align: left;
            }

            &.center {
                text-align: center;
            }

            &.right {
                text-align: right;
            }
        }
    }

    code {
        font-family: var(--font-family-mono);
        font-feature-settings: normal;
        background: var(--accents-5-alpha-20);
        padding: 1px 6px;
        margin: 0 2px;
        font-size: 0.95rem;
    }

    pre {
        font-family: var(--font-family-mono);
        padding: 20px;
        font-size: 0.95rem;
        overflow: auto;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        @include for-tablet-landscape-up {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        code {
            padding: 0;
            margin: 0;
            background: none;
        }
    }

    blockquote {
        border-top: 1px solid var(--accents-5);
        border-bottom: 1px solid var(--accents-5);
        margin: 40px 0;
        padding: 25px;

        @include for-tablet-landscape-up {
            padding-right: 0;
        }

        &:before {
            content: "â€";
            font-family: Georgia, serif;
            font-size: 3.875rem;
            position: absolute;
            left: -40px;
            top: -20px;
        }

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        p {
            position: relative;
        }

        p:before {
            content: ">";
            display: block;
            position: absolute;
            left: -25px;
            color: var(--accents-5);
        }
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        margin: 40px 0;
    }

    table,
    th,
    td {
        border: 1px dashed var(--accents-5);
        padding: 10px;
    }

    th {
        color: var(--accents-5);
    }

    ul,
    ol {
        margin-left: 30px;
        padding: 0;

        li {
            position: relative;
        }

        @include for-tablet-landscape-up {
            margin-left: 20px;
        }
    }

    ol ol {
        list-style-type: lower-alpha;
    }

    hr {
        width: 100%;
        border: none;
        background: var(--border-color);
        height: 1px;
    }

    .hidden {
        display: none;
    }
}

