@import 'responsive-mixin';

.row, .row-reverse {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 4em;
}
    
@include for-tablet-landscape-up {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 6rem;

        &.reverse {
            flex-direction: row-reverse;
        }
    }

      
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
}