<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="{{ get_url(path="index.css") | safe }}">
</head>

<body class="l_marketing">
  <header>
    <div class="m_navbar">
      <nav><input id="toggle" type="checkbox"></input><label class="hamburger" for="toggle">
          <div class="top_bun"></div>
          <div class="meat"></div>
          <div class="bottom_bun"></div>
        </label><a href="/"><span>Cream</span></a>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="/auth/sign_in">Sign In</a></li>
          <li><a href="/auth/sign_up">Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main">
      {% block content %} {% endblock %}
  </div>
  <footer class="m_footer"></footer>
</body>

</html>