@use crate::team::create_route;

@(team_id: &i32)

<form class="m_form" id="create-invite-form" method="post" action="@create_route(*team_id)">
    <invite-user label="Invite User">
        <template slot="body">
            <p>Invite people into your team.</p>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" autocomplete="off" required="" name="email">
                </input>
           
                <label for="admin">
                    <input type="checkbox" name="editor" id="admin" />
                    Invite as Team Administrator
                </label>
                <span class="a_help_text">Team Administrators can manage billing and invite new team members</span>
            </fieldset>
        </template>
        <template slot="footer">
            <button class="a_button auto success" type="submit">Create Invitation</button>
            <button class="a_button auto danger">Cancel</button>
        </template>
    </invite-user>
</form>