@use crate::team::delete_route;

@(organisation_id: i32, user_id: i32, email: &str, team_id: &i32)

<form class="m_form" method="post" action="@delete_route(*team_id)">
    <side-drawer 
        id='@format!("delete-member-drawer-{}-{}", organisation_id, user_id)' 
        label="Remove this user?">
        <template slot="body">
            <p>@format!("Are you sure you want to remove {} from the team?", email)</p>
            <input type="hidden" name="organisation_id" value="@organisation_id" />
            <input type="hidden" name="user_id" value="@user_id" />
        </template>
        <template slot="footer">
            <button class="a_button auto danger" type="submit">Remove User</button>
        </template>
    </side-drawer>
</form>