@use super::super::layout_html;
@use crate::layout::SideBar;
@use crate::cornucopia::queries::organisations::GetTeams;
@use crate::cornucopia::queries::organisations::Organisation;

@(title: &str, teams: Vec<GetTeams>, organisation: &Organisation)

@:layout_html(title, {

    <div class="m_card">
        <div class="header">
            <span>Teams you are a member of</span>
        </div>
        <div class="body">
            <table class="m_table memberships">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Team Owner</th>
                    </tr>
                </thead>
                <tbody>
                    @for team in teams {
                        <tr>
                            @if let Some(name) = team.organisation_name {
                                <td>@name</td>
                            } else {
                                <td>Name not Set</td>
                            }
                            <td>@team.team_owner</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}, {
}, organisation, None, SideBar::Switch)
