@use crate::secrets;
@use db::queries::environments::GetAll;
@use db::queries::user_vaults::Get;

@(user_vault: &Get, environments: &Vec<GetAll>, team_id: &i32)

<form class="m_form" id="add-secret-form" method="post" 
    action="@secrets::new_route(user_vault.vault_id, *team_id)">
    <new-secret label="Add Secret" class="add-secret">
        <template slot="body">
            <p>
                Folders keep related secrets together.
                For example you could have a folder called Database with all
                the secrets related to database access.
            </p>
            <fieldset>
                <label for="name">Name</label>
                <input id="secret-name" type="text" pattern="[a-zA-Z_]+[a-zA-Z0-9_]*" required="" autocomplete="off" name="name">
                </input>
                <span class="a_help_text">The name should be a POSIX compliant environment variable name i.e. upper and lowercase letters, numbers and underscore. </span>
                <label for="secret">Secret</label>
                <textarea rows="10" id="secret-value" type="text" autocomplete="off" required="" name="secret"></textarea>
                <label for="folder">Environment</label>
                <select id="environment_id" name="environment_id">
                    @for environment in environments {
                        <option value=@environment.id>@environment.name</option>
                    }
                </select>
            </fieldset>
            <input type="hidden" id="encrypted-vault-key" value=@user_vault.encrypted_vault_key>
            </input>
            <input type="hidden" id="user-vault-ecdh-public-key" value=@user_vault.ecdh_public_key>
            </input>
            <input type="hidden" id="vault-id" value=@user_vault.vault_id>
            </input>
            <input type="hidden" id="name-blind-index" name="name_blind_index" value="">
            </input>
        </template>
        <template slot="footer">
            <button class="a_button auto success" id="create-secret">Create Secret</button>
        </template>
    </new-secret>
</form>