@use crate::cornucopia::queries::service_accounts::GetAll;

@(service_account: &GetAll)

<form 
    class="m_form" 
    label='@format!("View {}", service_account.account_name)'
    service-account-id='@format!("{}", service_account.id)'>
    <view-account>
        <template slot="body">
            <fieldset>
                <label for="public_key">ECDH Public Key</label>

                <textarea 
                    name="public_key" 
                    readonly
                    id='@format!("ecdh-public-key-{}", service_account.id)' 
                    rows="6">service_account.ecdh_public_key</textarea>
            </fieldset>

            <label for="encrypted_private_key">ECDH Private Key</label>
            <textarea 
                name="encrypted_private_key" 
                readonly
                id='@format!("wrapped-ecdh-private-key-{}", service_account.id)' 
                rows="8">service_account.ecdh_public_key</textarea>
            <span class="a_help_text">The key for this service account</span>

        </template>

        <template slot="footer"></template>
    </view-account>
</form>