@use crate::team::create_route;

@(team_id: &i32)

<form class="m_form" id="create-invite-form" method="post" action="@create_route(*team_id)">
    <invite-user label="Invite User">
        <template slot="body">
            <p>Invite people into your team.</p>
            <fieldset>

                <label for="email">Email</label>
                <input type="email" autocomplete="off" required="" id="email" name="email">
                </input>
                <span class="a_help_text">The email address of the person you wish to invite</span>
                
                <label for="first_name">First Name</label>
                <input type="text" autocomplete="off" required="" id="first_name" name="first_name">
                </input>
                <span class="a_help_text">The first name of the person you wish to invite</span>
                
                <label for="last_name">Last Name</label>
                <input type="text" autocomplete="off" required="" id="last_name" name="last_name">
                </input>
                <span class="a_help_text">The last name of the person you wish to invite</span>
            
                <div class="m_callout mt-1">
                    <label for="admin">
                        <input type="checkbox" name="admin" id="admin" />
                        Invite as Team Administrator
                    </label>
                    <span class="a_help_text">Team Administrators can manage 
                        billing and invite new team members</span>
                </div>
            
            </fieldset>
        </template>
        <template slot="footer">
            <button class="a_button auto success" type="submit">Create Invitation</button>
            <button class="a_button auto danger">Cancel</button>
        </template>
    </invite-user>
</form>