@use super::super::layout_html;
@use crate::layout::SideBar;
@use super::new_account_html;
@use db::queries::organisations::Organisation;

@(initials: &str, organisation: &Organisation)

@:layout_html("Service Accounts", initials, {
    <div class="empty_page">
        <div>
            <h2>You don't have any service accounts yet</h2>
            <h3>Service accounts give you access to secrets held in vaults</h3>
            @:new_account_html(&organisation.id)
            <button class="a_button mini primary" id="new-account">Add Service Account</button>
        </div>
    </div> 
}, {
    
}, organisation, None, SideBar::ServiceAccounts)