
@()

<form class="m_form" method="post" action="">
    <side-drawer label="Filter Results" id="filter-drawer">
        <template slot="body">
            <fieldset>
                <label for="name">Name *</label>
                <input type="text" required name="name" />
                <span class="a_help_text">Give your new team a name</span>
            </fieldset>
        </template>
        <template slot="footer">
            <button class="a_button auto success" type="submit">Apply Filter</button>
        </template>
    </side-drawer>
</form>