@use super::super::layout_html;
@use crate::layout::SideBar;
@use super::action_html;
@use super::client_html;
@use crate::cornucopia::queries::audit::Audit;
@use time::format_description::well_known::Rfc3339;
@use crate::cornucopia::queries::organisations::Organisation;
@use crate::cornucopia::queries::organisations::GetUsers;
@use crate::templates::statics::filter_svg;
@use super::filter_html;

@(
    initials: &str, 
    audits: Vec<Audit>, 
    team_users: Vec<GetUsers>, 
    organisation: &Organisation,
    reset_search: bool
)

@:layout_html("Audit Trail", initials, {
    <div class="m_card">
        <div class="header">
            <span>Audit Trail</span>
            <button class="a_button" data-drawer-target="filter-drawer">
                <img alt="Filter" width="16" height="16" src="/static/@filter_svg.name"></img>
                Filter
            </button>
        </div>
        <div class="body">
            <table class="m_table team_table">
                <thead>
                    <tr>
                        <th class="hide-on-phones">When</th>
                        <th>User</th>
                        <th class="hide-on-phones">Access Type</th>
                        <th>Action</th>
                        <th class="hide-on-phones">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @for (index, audit) in audits.iter().enumerate() {
                        @if index < 10 {
                            <tr>
                                <td class="hide-on-phones">
                                    <relative-time datetime='@audit.created_at.format(&Rfc3339).unwrap_or("".to_string())'></relative-time>
                                </td>
                                <td>
                                    @audit.email
                                </td>
                                <td class="hide-on-phones">
                                    <span class="a_badge a_badge--success">@:client_html(audit.access_type)</span>
                                </td>
                                <td>
                                    <span class="a_badge a_badge--success">@:action_html(audit.action)</span>
                                </td>
                                <td class="hide-on-phones">
                                    @audit.description
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            @if let Some(audit) = audits.get(10) {
                <div class="center">
                    <button class="a_button" data-filter-target="filter-form" 
                        data-filter-last-row="@audit.id">Load More</button>
                </div>
            }
        </div>
    </div>

    @:filter_html(team_users, organisation.id, reset_search)
}, {
}, organisation, None, SideBar::Audit)