@import 'responsive-mixin';

.m_cta {
    background-image: radial-gradient(70% 70% at 50% 100%, rgb(232, 232, 232) 0%, rgb(250, 250, 250) 100%);

    > div {
        // Set a max width and center content
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-width);
        padding: var(--content-padding);
        text-align: center;

        > div.image {
            grid-area: pic;
            padding-top: 2rem;
            padding-bottom: 2rem;

            img {
                width: auto;
                height: 150px;
            }
        }

        > div.text {
            grid-area: text;
        }

        > h1 {
            grid-area: headline;
            font-size: 2em;
            font-weight: 700;
        }

        > div.buttons {
            grid-area: buttons;
            
            a {
                margin-right: 1rem;
            }
        }

        > div.footer {
            grid-area: more;
            text-align: center;
            margin-top: 30px;
            padding-bottom: 1rem;
            h2 {
                color: #999;
                font-size: 0.875rem;
            }
        }
    }
    
    @include for-desktop-up {

        > div {
            text-align: left;
            display: grid;
            align-items: start;
            grid-gap: 0 40px;
            grid-template:  "headline pic"
                            "text     pic"
                            "buttons  pic"
                            "more     more"
                            / 1fr 1fr;

            > div.text {
                // Fix i.e. 11 or it overflows into the image
                max-width: 500px;
                color: var(--accents-6);
            }

            > div.image {
                text-align: right;

                img {
                    width: auto;
                    height: 450px;
                }
            }
    
            > h1 {
                // Fix i.e. 11 or it overflows into the image
                max-width: 500px;
                font-size: 4em;
            }
        }

    }
    
    /**> div {
        padding: 80px 20px 0 20px;
        display: grid;
        align-items: start;
        grid-gap: 0 40px;
        grid-template:  "headline pic"
                        "text     pic"
                        "buttons  pic"
                        "more     more"
                        / 1fr 1fr;
        width: var(--content-width);

        > h1 {
            grid-area: headline;
            font-size: 4em;
            font-weight: 700;
            margin: 0;
        }

        > div.buttons {
            grid-area: buttons;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }

        > div.image {
            grid-area: pic;
            text-align: right;
            img {
                width: 100%;
                height: 450px;
            }
        }

        > div.footer {
            grid-area: more;
            text-align: center;
            margin-top: 30px;
            h2 {
                color: #999;
                font-size: 0.875rem;
            }
        }

        > div.text {
            grid-area: text;
            display: flex;
            flex-direction: column;
            color: var(--accents-6);
            br {
                margin-top: 2em;
                display: block;
            }
        }
        
        @include for-phone-only {
            padding: 20px 10px 0 10px;
            grid-template:  "headline"
                            "pic"
                            "text"
                            "buttons"
                            "more";
            > div.image {
                img {
                    margin-top: 2em;
                    height: 300px;
                }
            }

            > div.buttons {
                display: flex;
                flex-direction: column;
                button:nth-child(1) {
                    margin-bottom: 20px;
                }
                button {
                    margin-right: 0px;
                }
            }

            > h1 {
                font-size: 40px;
                text-align: center;
            }

            > div.text {
                > p br {
                    display: none;
                }
                text-align: center;
            }
        }
    }**/
}