.l_developers {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    width: var(--content-width);

    > aside {
        > ul {
            list-style-type: none;
            padding-left: 0;

            &.selected {
                background-color: red;
            }
        }
        width: 300px;
    }

    > main {
        padding-left: 1em;
    }
}