@import 'responsive-mixin';

.l_developers {
    flex-direction: row;
    width: 100%;
    padding: var(--content-padding);

    > aside {
        display: none;
        > ul {
            list-style-type: none;
            padding-left: 0;

            &.selected {
                background-color: red;
            }
        }
        width: 200px;
    }

    > main {
        max-width: var(--article-width);
        width: 100%;

        pre {
            width: 100%;
            overflow-x: auto;
        }
    }

    
    @include for-tablet-landscape-up {

        > aside {
            display: block;
            > ul {
                list-style-type: none;
                padding-left: 0;
    
                &.selected {
                    background-color: red;
                }
            }
            width: 200px;
        }

        display: flex;
        max-width: var(--content-width);
    }
}