@use crate::cornucopia::queries::user_vaults::Get;
@use crate::cornucopia::queries::user_vaults::GetNonMembersDangerous;
@use crate::cornucopia::queries::environments::GetAll;

@(
    user_vault: &Get, 
    environments: Vec<GetAll>,
    non_members: Vec<GetNonMembersDangerous>,
    team_id: &i32
)

<form class="m_form" id="add-team-member" method="post" action="@crate::members::add_route(user_vault.vault_id, *team_id)">
    <add-member label="Add Member">
        <template slot="body">
            <fieldset>
                <label for="name"></label>
                <select name="user_id" id="user-selection">
                    @for user in non_members {
                        <option value="@user.id" data-ecdh-pub-key="@user.ecdh_public_key">@user.email</option>
                    }
                </select>
                <span class="a_help_text">Select a user</span>

                <label>Which environments do you want the user to have access to?</label>

                @for env in environments {
                    <label for="@env.name">
                        <input type="checkbox" name="env" id="@env.name" value="@env.id" />
                        @env.name
                    </label>
                }
                <span class="a_help_text">Select at least one environment</span>
            </fieldset>

            <input type="hidden" value="@user_vault.encrypted_vault_key" id="encrypted-vault-key">
            <input type="hidden" value="@user_vault.ecdh_public_key" id="user-vault-ecdh-public-key">
            <input type="hidden" value="@user_vault.vault_id" id="vault_id">
            
            @* These hidden fields are populated by the add_member.ts *@
            <input type="hidden" name="environments" id="environments" />
            <input type="hidden" name="wrapped_vault_key" id="wrapped-vault-key" />
            <input type="hidden" name="ecdh_public_key" id="ecdh-public-key" />

        </template>
        <template slot="footer">
            <button class="a_button auto success">Update Members</button>
            <button class="a_button auto danger">Cancel</button>
        </template>
    </add-member>
</form>