@use crate::cornucopia::queries::user_vaults::GetUsersDangerous;

@(user: GetUsersDangerous)

<form method="post" action="@crate::members::delete_route(user.vault_id)">
    <side-drawer label="Remove Member from Vault?" id='@format!("delete-member-drawer-{}", user.user_id)'>
        <template slot="body">
            <p>
                @format!("Are you sure you want to remove {}", user.email)
            </p>
            <input type="hidden" name="user_id" value="@user.user_id" />
            <input type="hidden" name="vault_id" value="@user.vault_id" />
        </template>

        <template slot="footer">
            <button class="a_button auto danger" type="submit">Remove Member</button>
        </template>
    </side-drawer>
</form>