@use super::super::layout_html;
@use crate::layout::SideBar;
@use crate::ructe::templates::statics::delete_svg;
@use crate::cornucopia::queries::user_vaults::Get;
@use crate::cornucopia::queries::user_vaults::GetUsers;
@use crate::cornucopia::queries::user_vaults::GetNonMembers;
@use crate::cornucopia::queries::environments::GetAll;
@use crate::cornucopia::queries::organisations::Organisation;
@use super::delete_html;
@use super::add_member_html;

@(
    initials: &str,
    user_vault: Get, 
    members: Vec<GetUsers>, 
    non_members: Vec<GetNonMembers>, 
    environments: Vec<GetAll>,
    organisation: &Organisation
)

@:layout_html("Members", initials, {
    <div class="m_card">
        <div class="header">
            <span>Members</span>
        </div>
        <div class="body">
            <table class="m_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hide-on-phones">Environments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for member in &members {
                        <tr>
                            <td>
                                <span class="cipher">@member.email</span>
                            </td>
                            <td class="hide-on-phones">
                                @if let Some(envs) = &member.environments {
                                    @envs
                                }
                            </td>
                            <td>
                                <a id='@format!("delete-member-{}", member.user_id)' href="#">
                                    <img src="/static/@delete_svg.name" width="18">
                                    </img>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @for member in members {
        @:delete_html(member, &organisation.id)
    }
}, {
    @if ! non_members.is_empty() {
        @:add_member_html(&user_vault, environments, non_members, &organisation.id)
        <button class="a_button mini primary" id="add-member">Add Member</button>
    }
}, organisation, Some(user_vault.vault_id), SideBar::Members)