@use super::super::layout_html;
@use super::new_vault_html;
@use crate::layout::SideBar;
@use db::queries::organisations::Organisation;

@(initials: &str, organisation: &Organisation)

@:layout_html("Vaults", initials, {
    <div class="empty_page">
        <div>
            <h2>No Vaults Created</h2>
            <h3>Create your first vault to get started with Cloak</h3>
            @:new_vault_html(&organisation.id)
            <button class="a_button mini primary" id="new-vault">Create A New Vault</button>
        </div>
    </div> 
}, {
    
}, organisation, None, SideBar::Vaults)