@use db::types::public::AuditAction;

@(event: AuditAction)

@match event {
    AuditAction::AddMember => {
        Add Member
    }
    AuditAction::DeleteMember => {
        Delete Member
    }
    AuditAction::AddSecret => {
        Add Secret
    }
    AuditAction::DeleteSecret => {
        Delete Secret
    }
    AuditAction::AccessSecrets => {
        Access Secrets
    }
    AuditAction::NewServiceAccount => {
        New Service Account
    }
    AuditAction::DeleteServiceAccount => {
        Delete Service Account
    }
    AuditAction::ConnectServiceAccount => {
        Connect Service Account
    }
    AuditAction::CreateInvite => {
        Create Invite
    }
    AuditAction::RemoveTeamMember => {
        Remove Team Member
    }
    AuditAction::CreateVault => {
        Create Vault
    }
    AuditAction::DeleteVault => {
        Delete Vault
    }
}