@use super::super::layout_html;
@use crate::vaults::VaultSummary;
@use super::new_vault_html;
@use crate::layout::SideBar;
@use time::format_description::well_known::Rfc3339;
@use crate::cornucopia::queries::organisations::Organisation;

@(initials: &str, vaults: Vec<VaultSummary>, organisation: &Organisation)

@:layout_html("Vaults", initials, {
    @for vault in vaults {
        <div class="m_card vault-card clickable" href="@crate::secrets::index_route(vault.id, organisation.id)">
            <div class="body m-vault-card-body">
                <div>
                    <h4 class="title">@vault.name</h4>
                    <div class="created">
                        Created
                        <relative-time datetime='@vault.created_at.format(&Rfc3339).unwrap_or_else(|_| "".to_string())'></relative-time>
                    </div>
                </div>
                <div>
                    <h4 class="title">Team Members</h4>
                    <p>@vault.user_count</p>
                </div>
                <div>
                    <h4 class="title">Secrets</h4>
                    <p>@vault.secrets_count</p>
                </div>
                <div class="settings">
                    <button class="a_button ghost danger" id='@format!("delete-vault-{}", vault.id)' href="#">Delete
                    </button>
                </div>
            </div>
        </div>
        <form class="m_form" method="post" action="@crate::vaults::delete_route(organisation.id)">
            <side-drawer label="Delete Vault ?" id='@format!("delete-vault-drawer-{}", vault.id)'>
                <template slot="body">
                    <p>Are you sure you want to delete this vault?</p>
                    <p>If so then type the name of the vault <strong>&quot;@vault.name&quot;</strong>
                        into the input field</p>
                    <fieldset>
                        <label for="name">Name *</label>
                        <input type="text" required="" name="name" autocomplete="off"></input>
                        <span class="a_help_text">
                            Please confirm the name of the vault you wish to delete
                        </span>
                    </fieldset>
                    <input type="hidden" name="vault_id" value="@vault.id"></input>
                </template>
                <template slot="footer">
                    <button class="a_button auto danger" slot="footer" type="submit">Delete
                        Vault</button>
                </template>
            </side-drawer>
        </form>
    }
}, {
    @:new_vault_html(&organisation.id)
    <button class="a_button mini primary" id="new-vault">Create A New Vault</button>
}, organisation, None, SideBar::Vaults)