@use crate::cornucopia::queries::user_vaults::Get;

@(vault_id: i32, secret_id: i32, secret_name: &str, user_vault: &Get)

<form class="m_form" method="post" action=@crate::secrets::delete_route(vault_id)>
    <side-drawer label="Delete Secret?" id='@format!("delete-secret-drawer-{}", secret_id)'>

        <template slot="body">
            <p>
                Are you sure you want to delete the secret 
                <ecdh-cipher 
                    cipher="@secret_name" 
                    wrapped-aes-key="@user_vault.encrypted_vault_key"
                    ecdh-public-key="@user_vault.ecdh_public_key">
                </ecdh-cipher>
                <input type="hidden" name="secret_id" value="@secret_id">
            </p>
        </template>

        <template slot="footer">
            <button class="a_button auto danger" type="submit">Delete Secret</button>
        </template>

    </side-drawer>
</form>