@use super::super::layout_html;
@use super::new_secret_html;
@use crate::layout::SideBar;
@use crate::cornucopia::queries::environments::GetAll;
@use crate::cornucopia::queries::user_vaults::Get;
@use crate::cornucopia::queries::organisations::Organisation;

@(initials: &str, user_vault: &Get, environments: Vec<GetAll>, organisation: &Organisation)

@:layout_html("Secrets", initials, {
    <div class="empty_page">
        <div>
            <h2>This vault doesn't have any secrets yet</h2>
            <h3>Create your first secret and add it to the vault</h3>
            @:new_secret_html(user_vault, &environments, &organisation.id)
            <button class="a_button mini primary" id="new-secret">Create A New Secret</button>
        </div>
    </div> 
}, {
}, organisation, Some(user_vault.vault_id), SideBar::Secrets)