@use super::super::layout_html;
@use super::delete_html;
@use crate::templates::statics::*;
@use crate::layout::SideBar;
@use crate::cornucopia::queries::user_vaults::Get;
@use crate::cornucopia::queries::secrets::GetAll;
@use crate::cornucopia::queries::environments::GetAll as EnvAll;

@(title: &str, user_vault: Get, environments: Vec<EnvAll>, secrets: Vec<GetAll>)

@:layout_html(title, {
    @for environment in environments {
        <div class="m_card">
            <div class="header">
                <span>@environment.name</span>
            </div>
            <div class="body">
                <table class="m_table secrets_table">
                    <thead>
                        <tr>
                            <th>Name of Secret</th>
                            <th>Updated</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for secret in &secrets {
                            @if secret.environment_name == environment.name {
                                <tr>
                                    <td>
                                        <ecdh-cipher cipher=@secret.name wrapped-aes-key=@user_vault.encrypted_vault_key ecdh-public-key=@user_vault.ecdh_public_key></ecdh-cipher>
                                    </td>
                                    <td>
                                        <relative-time datetime=@secret.updated_at></relative-time>
                                    </td>
                                    <td>
                                        <relative-time datetime=@secret.created_at></relative-time>
                                    </td>
                                    <td>
                                        <a id=@format!("delete-secret-controller-{}", secret.id) href="#">
                                            <img src="/static/@delete_svg.name" width="18">
                                            </img>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @for secret in secrets {
        @:delete_html(user_vault.vault_id, secret.id, &secret.name, &user_vault)
    }
}, {
}, Some(user_vault.vault_id), SideBar::Secrets)