@use super::statics::*;
@use crate::layout;
@use crate::layout::SideBar;

@(title: &str, content: Content, header: Content, vault_id: Option<i32>, side_bar: SideBar)

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>@title</title>
    <link rel="stylesheet" href="/static/@index_css.name" type="text/css" />

    <script src="/static/@index_js.name" type="text/javascript" async></script>
    <link rel="icon" type="image/svg+xml" href="/static/@favicon_svg.name">
    </link>
  </head>

  <body>
    <div class="l_application">
      <header>@:header()</header>
      <aside class="sidenav">
        <h1><a href="/app/vaults">Cloak</a></h1>
        <ul>
          <li class=@layout::get_menu_class(&side_bar, &SideBar::Vaults, false)><img alt="Menu Item" width="24px"
              src="/static/@vault_svg.name"></img><a href="/app/vaults">Vaults</a></li>

          @if let Some(vault_id) = vault_id {

          <li class=@layout::get_menu_class(&side_bar, &SideBar::Secrets, true)>
            <img alt="Menu Item" width="24px" src="/static/@secrets_svg.name"></img>
            <a href=@crate::secrets::secret_route(vault_id)>Secrets</a>
          </li>

          <li class=@layout::get_menu_class(&side_bar, &SideBar::Members, true)>
            <img alt="Menu Item" width="24px" src="/static/@users_svg.name"></img>
            <a href=@crate::secrets::secret_route(vault_id)>Access</a>
          </li>
          }

          <li class=@layout::get_menu_class(&side_bar, &SideBar::ServiceAccounts, false)>
              <img alt="Menu Item" width="24px" src="/static/@accounts_svg.name"></img>
              <a href="/app/service_accounts">Service Accounts</a>
          </li>
          <li class=@layout::get_menu_class(&side_bar, &SideBar::Team, false)>
              <img alt="Menu Item" width="24px" src="/static/@users_svg.name"></img>
              <a href="/app/team">Team</a>
          </li>
        </ul>
        <div class="profile"><button class="a_button ghost" data-drawer-target="logout-drawer">Logout</button>
          <form class="m_form" method="post" action="/auth/sign_out">
            <side-drawer label="Logout ?" id="logout-drawer">
              <template slot="body">
                <p>Are you sure you want to Logout?</p>
              </template>
              <template slot="footer">
                <button class="a_button auto danger" slot="footer"
                  type="submit">Logout</button>
                </template>
            </side-drawer>
          </form>
        </div>
      </aside>
      <main class="container">
        <section class="content">
          <div>
            @:content()
          </div>
        </section>
      </main>
    </div>
    <snack-bar></snack-bar>
  </body>

  </html>